Hello, welcome to Supah Framework 1.0 - The minimalistic PHP framework that you'll die because it's so boring.
<br><br>
This is your default page.  Check me out in app/templates/default_welcome_message.
<br><br>
You should also $jokesURL It's lulzy.