Hello, welcome to Supah Framework 1.0 - The minimalistic PHP framework that will make you die of boredom.
<br><br>
This is your default page.  Check me out in app/templates/default_welcome_message.
$jokesReferral
$dbTest