Hello, welcome to Supah Framework 1.0 - The minimalistic PHP framework that will make you die of boredom.
<br><br>
This is your default page.  Check me out in app/templates/default_welcome_message.
$jokesReferral
$dbTest
<h2>Software Credits</h2>
<p>The development of this software was made possible using the following components:</p>
<div id="credit-area"><div class="section padded"><h3><a href="https://github.com/SuperSpyTX/Supah-Framework">Supah Framework</a> by <b>SuperSpyTX</b>
<br><small>
<i>Licensed Under: <a href="http://www.tldrlegal.com/license/gnu-general-public-license-v2-(gpl-2)">GNU General Public License v2 (GPL-2)</a>
</i></small></h3></div></div><p id="footer" style="display: none;"><i>Generated using <a href="http://www.tldrlegal.com">TLDRLegal</a></i></p></body></html>